# Practica 1 AST

## Importamos las librerias

In [13]:
import pandas as pd
import numpy as np
import wget
import zipfile

import re
import copy
from datetime import datetime as dt

%matplotlib inline
import seaborn as sns
import matplotlib.pyplot as plt

## Descargamos el archivo

In [5]:
wget.download('https://archive.ics.uci.edu/ml/machine-learning-databases/00321/LD2011_2014.txt.zip')

'LD2011_2014.txt.zip'

## Descomprimimos el archivo

In [7]:
with zipfile.ZipFile('LD2011_2014.txt.zip', 'r') as zip_ref:
    zip_ref.extractall('Practica 1/')

## Creamos el dataframe con pandas

In [31]:
dataset = pd.read_table("Practica 1\LD2011_2014.txt", sep =";")

C:\Users\josev\AppData\Local\Temp\ipykernel_23828\2694376131.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,125,126,127,128,129,130,131,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,157,160,164,165,167,170,173,177,178,179,181,184,185,186,223,224,255,280,289,305,308,322,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,363,364,365,366,367,368,369,370) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_table("Practica 1\LD2011_2014.txt", sep =";")

## Revisamos el dataset

In [32]:
dataset.head()

,Unnamed: 0,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
0,2011-01-01 00:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
1,2011-01-01 00:30:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
2,2011-01-01 00:45:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
3,2011-01-01 01:00:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0
4,2011-01-01 01:15:00,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0

## Comprobar el número de filas y columnas

In [33]:
dataset.shape

(140256, 371)

## Comprobar el tipo de datos para cada número de columnas

In [34]:
for col in dataset.columns:
    print(col, type(dataset[col][0]))

Unnamed: 0 <class 'str'>
MT_001 <class 'int'>
MT_002 <class 'int'>
MT_003 <class 'int'>
MT_004 <class 'int'>
MT_005 <class 'int'>
MT_006 <class 'int'>
MT_007 <class 'int'>
MT_008 <class 'int'>
MT_009 <class 'int'>
MT_010 <class 'int'>
MT_011 <class 'int'>
MT_012 <class 'int'>
MT_013 <class 'int'>
MT_014 <class 'int'>
MT_015 <class 'int'>
MT_016 <class 'int'>
MT_017 <class 'int'>
MT_018 <class 'int'>
MT_019 <class 'int'>
MT_020 <class 'int'>
MT_021 <class 'int'>
MT_022 <class 'int'>
MT_023 <class 'int'>
MT_024 <class 'int'>
MT_025 <class 'int'>
MT_026 <class 'int'>
MT_027 <class 'int'>
MT_028 <class 'int'>
MT_029 <class 'int'>
MT_030 <class 'int'>
MT_031 <class 'int'>
MT_032 <class 'int'>
MT_033 <class 'int'>
MT_034 <class 'int'>
MT_035 <class 'int'>
MT_036 <class 'int'>
MT_037 <class 'int'>
MT_038 <class 'int'>
MT_039 <class 'int'>
MT_040 <class 'int'>
MT_041 <class 'int'>
MT_042 <class 'int'>
MT_043 <class 'int'>
MT_044 <class 'int'>
MT_045 <class 'int'>
MT_046 <class 'int'>
MT_047 <class 'int'>
MT_048 <class 'int'>
MT_049 <class 'int'>
MT_050 <class 'int'>
MT_051 <class 'int'>
MT_052 <class 'int'>
MT_053 <class 'int'>
MT_054 <class 'int'>
MT_055 <class 'int'>
MT_056 <class 'int'>
MT_057 <class 'int'>
MT_058 <class 'int'>
MT_059 <class 'int'>
MT_060 <class 'int'>
MT_061 <class 'int'>
MT_062 <class 'int'>
MT_063 <class 'int'>
MT_064 <class 'int'>
MT_065 <class 'int'>
MT_066 <class 'int'>
MT_067 <class 'int'>
MT_068 <class 'int'>
MT_069 <class 'int'>
MT_070 <class 'int'>
MT_071 <class 'int'>
MT_072 <class 'int'>
MT_073 <class 'int'>
MT_074 <class 'int'>
MT_075 <class 'int'>
MT_076 <class 'int'>
MT_077 <class 'int'>
MT_078 <class 'int'>
MT_079 <class 'int'>
MT_080 <class 'int'>
MT_081 <class 'int'>
MT_082 <class 'int'>
MT_083 <class 'int'>
MT_084 <class 'int'>
MT_085 <class 'int'>
MT_086 <class 'int'>
MT_087 <class 'int'>
MT_088 <class 'int'>
MT_089 <class 'int'>
MT_090 <class 'int'>
MT_091 <class 'int'>
MT_092 <class 'int'>
MT_093 <class 'int'>
MT_094 <class 'int'>
MT_095 <class 'int'>
MT_096 <class 'int'>
MT_097 <class 'int'>
MT_098 <class 'int'>
MT_099 <class 'int'>
MT_100 <class 'int'>
MT_101 <class 'int'>
MT_102 <class 'int'>
MT_103 <class 'int'>
MT_104 <class 'int'>
MT_105 <class 'int'>
MT_106 <class 'int'>
MT_107 <class 'int'>
MT_108 <class 'int'>
MT_109 <class 'int'>
MT_110 <class 'int'>
MT_111 <class 'int'>
MT_112 <class 'int'>
MT_113 <class 'int'>
MT_114 <class 'int'>
MT_115 <class 'int'>
MT_116 <class 'int'>
MT_117 <class 'int'>
MT_118 <class 'int'>
MT_119 <class 'int'>
MT_120 <class 'int'>
MT_121 <class 'int'>
MT_122 <class 'int'>
MT_123 <class 'int'>
MT_124 <class 'str'>
MT_125 <class 'int'>
MT_126 <class 'int'>
MT_127 <class 'int'>
MT_128 <class 'int'>
MT_129 <class 'int'>
MT_130 <class 'int'>
MT_131 <class 'str'>
MT_132 <class 'str'>
MT_133 <class 'int'>
MT_134 <class 'int'>
MT_135 <class 'int'>
MT_136 <class 'int'>
MT_137 <class 'int'>
MT_138 <class 'int'>
MT_139 <class 'int'>
MT_140 <class 'int'>
MT_141 <class 'int'>
MT_142 <class 'int'>
MT_143 <class 'int'>
MT_144 <class 'int'>
MT_145 <class 'int'>
MT_146 <class 'int'>
MT_147 <class 'int'>
MT_148 <class 'int'>
MT_149 <class 'int'>
MT_150 <class 'int'>
MT_151 <class 'int'>
MT_152 <class 'int'>
MT_153 <class 'int'>
MT_154 <class 'int'>
MT_155 <class 'int'>
MT_156 <class 'str'>
MT_157 <class 'int'>
MT_158 <class 'str'>
MT_159 <class 'str'>
MT_160 <class 'int'>
MT_161 <class 'str'>
MT_162 <class 'str'>
MT_163 <class 'str'>
MT_164 <class 'int'>
MT_165 <class 'int'>
MT_166 <class 'str'>
MT_167 <class 'int'>
MT_168 <class 'str'>
MT_169 <class 'str'>
MT_170 <class 'int'>
MT_171 <class 'str'>
MT_172 <class 'str'>
MT_173 <class 'int'>
MT_174 <class 'str'>
MT_175 <class 'str'>
MT_176 <class 'str'>
MT_177 <class 'int'>
MT_178 <class 'int'>
MT_179 <class 'int'>
MT_180 <class 'str'>
MT_181 <class 'int'>
MT_182 <class 'str'>
MT_183 <class 'str'>
MT_184 <class 'int'>
MT_185 <class 'int'>
MT_186 <class 'int'>
MT_187 <class 'str'>
MT_188 <class 'str'>
MT_189 <class 'str'>
MT_190 <class 'str'>
MT_191 <class 'str'>
MT_192 <class 'str'>
MT_193 <class 'str'>
MT_194 <class 'str'>
MT_195 <class 'str'>
MT_196 <class 'str'>
MT_197 <class 'str'>
MT_198 <class 'str'>
MT_199 <class 'str'>
MT_200 <class 'str'>
MT_201 <class 'str'>
MT_202 <class 'str'>
MT_203 <class 'str'>
MT_204 <class 'str'>
MT_205 <class 'str'>
MT_206 <class 'str'>
MT_207 <class 'str'>
MT_208 <class 'str'>
MT_209 <class 'str'>
MT_210 <class 'str'>
MT_211 <class 'str'>
MT_212 <class 'str'>
MT_213 <class 'str'>
MT_214 <class 'str'>
MT_215 <class 'str'>
MT_216 <class 'str'>
MT_217 <class 'str'>
MT_218 <class 'str'>
MT_219 <class 'str'>
MT_220 <class 'str'>
MT_221 <class 'str'>
MT_222 <class 'str'>
MT_223 <class 'str'>
MT_224 <class 'int'>
MT_225 <class 'str'>
MT_226 <class 'str'>
MT_227 <class 'str'>
MT_228 <class 'str'>
MT_229 <class 'str'>
MT_230 <class 'str'>
MT_231 <class 'str'>
MT_232 <class 'str'>
MT_233 <class 'str'>
MT_234 <class 'str'>
MT_235 <class 'str'>
MT_236 <class 'str'>
MT_237 <class 'str'>
MT_238 <class 'str'>
MT_239 <class 'str'>
MT_240 <class 'str'>
MT_241 <class 'str'>
MT_242 <class 'str'>
MT_243 <class 'str'>
MT_244 <class 'str'>
MT_245 <class 'str'>
MT_246 <class 'str'>
MT_247 <class 'str'>
MT_248 <class 'str'>
MT_249 <class 'str'>
MT_250 <class 'str'>
MT_251 <class 'str'>
MT_252 <class 'str'>
MT_253 <class 'str'>
MT_254 <class 'str'>
MT_255 <class 'int'>
MT_256 <class 'str'>
MT_257 <class 'str'>
MT_258 <class 'str'>
MT_259 <class 'str'>
MT_260 <class 'str'>
MT_261 <class 'str'>
MT_262 <class 'str'>
MT_263 <class 'str'>
MT_264 <class 'str'>
MT_265 <class 'str'>
MT_266 <class 'str'>
MT_267 <class 'str'>
MT_268 <class 'str'>
MT_269 <class 'str'>
MT_270 <class 'str'>
MT_271 <class 'str'>
MT_272 <class 'str'>
MT_273 <class 'str'>
MT_274 <class 'str'>
MT_275 <class 'str'>
MT_276 <class 'str'>
MT_277 <class 'str'>
MT_278 <class 'str'>
MT_279 <class 'str'>
MT_280 <class 'int'>
MT_281 <class 'str'>
MT_282 <class 'str'>
MT_283 <class 'str'>
MT_284 <class 'str'>
MT_285 <class 'str'>
MT_286 <class 'str'>
MT_287 <class 'str'>
MT_288 <class 'str'>
MT_289 <class 'int'>
MT_290 <class 'str'>
MT_291 <class 'str'>
MT_292 <class 'str'>
MT_293 <class 'str'>
MT_294 <class 'str'>
MT_295 <class 'str'>
MT_296 <class 'str'>
MT_297 <class 'str'>
MT_298 <class 'str'>
MT_299 <class 'str'>
MT_300 <class 'str'>
MT_301 <class 'str'>
MT_302 <class 'str'>
MT_303 <class 'str'>
MT_304 <class 'str'>
MT_305 <class 'int'>
MT_306 <class 'str'>
MT_307 <class 'str'>
MT_308 <class 'int'>
MT_309 <class 'str'>
MT_310 <class 'str'>
MT_311 <class 'str'>
MT_312 <class 'str'>
MT_313 <class 'str'>
MT_314 <class 'str'>
MT_315 <class 'str'>
MT_316 <class 'str'>
MT_317 <class 'str'>
MT_318 <class 'str'>
MT_319 <class 'str'>
MT_320 <class 'str'>
MT_321 <class 'str'>
MT_322 <class 'int'>
MT_323 <class 'str'>
MT_324 <class 'str'>
MT_325 <class 'str'>
MT_326 <class 'str'>
MT_327 <class 'str'>
MT_328 <class 'str'>
MT_329 <class 'str'>
MT_330 <class 'str'>
MT_331 <class 'str'>
MT_332 <class 'int'>
MT_333 <class 'int'>
MT_334 <class 'int'>
MT_335 <class 'int'>
MT_336 <class 'int'>
MT_337 <class 'int'>
MT_338 <class 'int'>
MT_339 <class 'int'>
MT_340 <class 'int'>
MT_341 <class 'int'>
MT_342 <class 'int'>
MT_343 <class 'int'>
MT_344 <class 'int'>
MT_345 <class 'int'>
MT_346 <class 'int'>
MT_347 <class 'int'>
MT_348 <class 'int'>
MT_349 <class 'int'>
MT_350 <class 'int'>
MT_351 <class 'int'>
MT_352 <class 'int'>
MT_353 <class 'int'>
MT_354 <class 'int'>
MT_355 <class 'int'>
MT_356 <class 'int'>
MT_357 <class 'int'>
MT_358 <class 'int'>
MT_359 <class 'int'>
MT_360 <class 'int'>
MT_361 <class 'int'>
MT_362 <class 'numpy.float64'>
MT_363 <class 'int'>
MT_364 <class 'int'>
MT_365 <class 'int'>
MT_366 <class 'int'>
MT_367 <class 'int'>
MT_368 <class 'int'>
MT_369 <class 'int'>
MT_370 <class 'int'>

### Puede ver que algunos de los tipos de datos son tipos de cadena.
### La razón es que el punto decimal es una coma.
### Convertir "," a "." para cambiar el tipo str a tipo float

In [35]:
dataset = dataset.replace(r",", ".",regex = True)  

# Cambiar el nombre de la columna "Sin nombre: 0" a "time"

dataset.rename(columns = {"Unnamed: 0": "time"}, inplace = True)

In [36]:
# Dado que todo, excepto el tiempo, es de tipo decimal, el tiempo se separa una vez y se cambia a tipo flotante
data = dataset.drop("time", axis = 1) # tratar solo "tiempo" por separado
data = data.astype("float") # Convertir número a tipo flotante

In [37]:
#Convierta a kWh (divida por 4 y corrija a kWh como se describe en la descripción de UCI)

data = data/4

# Dado que los datos originales son datos de clientes corporativos, se dividen por 500 (esto es apropiado) y se convierten en consumo de energía a nivel de hogares individuales.

data = data/500

# finalmente crea una columna de tiempo
data["time"] = dataset["time"]

C:\Users\josev\AppData\Local\Temp\ipykernel_23828\1323961304.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data["time"] = dataset["time"]

In [38]:
data.describe()

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,...,MT_361,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370
count,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,...,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000,140256.000000
mean,0.001985,0.010384,0.001459,0.041092,0.018620,0.070614,0.002261,0.095701,0.019988,0.021103,...,0.109107,18.803994,0.943714,1.470016,0.032707,0.004635,0.212131,0.047352,0.312626,4.361178
std,0.002992,0.006636,0.005507,0.029124,0.013231,0.049220,0.003243,0.060991,0.014907,0.016701,...,0.102417,19.345977,0.900743,1.366126,0.032504,0.005008,0.137169,0.040149,0.190328,4.597578
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.001422,0.000000,0.018293,0.007927,0.035714,0.000283,0.055556,0.006993,0.004839,...,0.002855,0.000000,0.000000,0.000000,0.006519,0.000000,0.000000,0.015025,0.041972,0.000000
50%,0.000635,0.012447,0.000869,0.043699,0.019512,0.078869,0.001413,0.111111,0.020105,0.020430,...,0.065667,12.050000,0.525316,1.068182,0.015645,0.003511,0.262950,0.038397,0.379032,0.000000
75%,0.001269,0.014936,0.000869,0.057927,0.027439,0.102679,0.002261,0.139731,0.028846,0.030645,...,0.201642,27.400000,1.656118,2.681818,0.054107,0.005851,0.313872,0.075960,0.437683,8.891892
max,0.024112,0.057610,0.075586,0.160569,0.075000,0.267857,0.022329,0.276094,0.078671,0.099462,...,0.426481,96.400000,3.875527,6.193182,0.167536,0.030135,0.569359,0.181135,0.774560,15.459459

In [39]:
data

,MT_001,MT_002,MT_003,MT_004,MT_005,MT_006,MT_007,MT_008,MT_009,MT_010,...,MT_362,MT_363,MT_364,MT_365,MT_366,MT_367,MT_368,MT_369,MT_370,time
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2011-01-01 00:15:00
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2011-01-01 00:30:00
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2011-01-01 00:45:00
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2011-01-01 01:00:00
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2011-01-01 01:15:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140251,0.001269,0.011024,0.000869,0.075203,0.042683,0.151786,0.005653,0.141414,0.034091,0.036022,...,14.10,0.808017,0.681818,0.014993,0.002926,0.348551,0.088481,0.325513,3.810811,2014-12-31 23:00:00
140252,0.001269,0.010669,0.000869,0.083333,0.040854,0.162202,0.005653,0.126263,0.032343,0.036022,...,14.15,0.784810,0.670455,0.014993,0.004974,0.335821,0.084307,0.334677,3.351351,2014-12-31 23:15:00
140253,0.001269,0.010313,0.000869,0.081301,0.041463,0.159226,0.005088,0.121212,0.030594,0.037097,...,13.90,0.778481,0.659091,0.013690,0.004681,0.335382,0.076795,0.335044,3.432432,2014-12-31 23:30:00
140254,0.000635,0.010669,0.000869,0.083333,0.042683,0.142857,0.005088,0.112795,0.032343,0.036022,...,14.00,0.721519,0.454545,0.013038,0.002048,0.332309,0.073456,0.323314,3.270270,2014-12-31 23:45:00
140255,0.001269,0.009957,0.000869,0.089431,0.042073,0.139881,0.005088,0.124579,0.031469,0.034946,...,13.90,0.704641,0.477273,0.013690,0.002048,0.314311,0.065943,0.336510,3.567568,2015-01-01 00:00:00